## pandas

In [5]:
import pandas as d

data = pd.read_csv("pokemon.csv")
data

In [9]:
data.tail(n=10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
790,714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False
792,716,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True
793,717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [11]:
data.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [23]:
data["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [25]:
data.sort_values("Defense")

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False
488,440,Happiny,Normal,NaN,220,100,5,5,15,65,30,4,False
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
188,174,Igglybuff,Normal,Fairy,210,90,30,15,40,20,15,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
414,377,Regirock,Rock,NaN,580,80,100,200,50,100,50,3,True
223,208,Steelix,Steel,Ground,510,75,85,200,55,65,30,2,False
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False

In [84]:
data.sort_values(["HP", "Attack","Defense","Speed"])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,"Attack ,high,low","HP,high,low",HP_high_low
316,292,Shedinja,Bug,Ghost,236,1,90,45,30,30,40,3,False,Attack high,HP low,HP low
55,50,Diglett,Ground,NaN,265,10,55,25,35,45,95,1,False,Attack low,HP low,HP low
139,129,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False,Attack low,HP low,HP low
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,Attack low,HP low,HP low
381,349,Feebas,Water,NaN,200,20,15,20,10,55,80,3,False,Attack low,HP low,HP low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False,Attack low,HP high,HP high
351,321,Wailord,Water,NaN,500,170,90,45,90,45,60,3,False,Attack high,HP high,HP high
217,202,Wobbuffet,Psychic,NaN,405,190,33,58,33,58,33,2,False,Attack low,HP high,HP high
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False,Attack low,HP high,HP high
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False,Attack low,HP high,HP high

## Feature Engineering
## Add column

In [53]:
hp_mean = data["HP"].mean() 

def set_HP(val):
    if val < HP_mean:
        return "HP low"
    else:
        return "HP high"

In [67]:
 # "HP_high_low" -> "HP high" , "HP low"
    
data["HP_high_low"]= data["HP"].apply(set_HP)
data

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,"Attack ,high,low","HP,high,low",HP_high_low
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Attack low,HP low,HP low
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Attack low,HP low,HP low
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Attack high,HP high,HP high
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Attack high,HP high,HP high
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Attack low,HP low,HP low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,Attack high,HP low,HP low
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,Attack high,HP low,HP low
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,Attack high,HP high,HP high
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,Attack high,HP high,HP high
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,Attack high,HP high,HP high

# Column of Speed_high_low and HP_high_low

In [2]:
sp_mean = data["Speed"].mean()
def set_speed(value):
    if value < speed_mean:
        elf value > speed_mean:
            return "High speed"
        else:
            return "same speed"

SyntaxError: invalid syntax (Temp/ipykernel_4620/994900684.py, line 4)

In [3]:
ata["Speed_high_low"] = data["Speed"]
data

NameError: name 'data' is not defined